<a href="https://colab.research.google.com/github/ChaithrikaYadav/PALB-1_Python-Programming/blob/main/PYTHONLAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2/02/2026 (Loops Concept)

In [ ]:
#print tables in range based on user input
n = int(input("Enter the no.of tables: "))
for i in range(1, n+1):
  print(f"Table {i}: ")
  for j in range(1, 11):
    print(i, "x", j, "=", i*j)

Enter the no.of tables: 5
Table1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Table2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Table3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Table4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Table5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# print squares, cubes, prime present in range of n
n = int(input("Enter the value of n: "))
print(f"squares under {n}")
for i in range(1, n+1):
  if(i * i < n):
    print(i *i)
print(f"cubes under {n}")
for i in range(1, n +1):
  if(i * i * i < n):
    print(i * i * i)

Enter the value of n: 5
squares under 5
1
4
cubes under 5
1

In [ ]:
#print the fibonacci series of range m if n = 1 and print tribonacci series of range m if n = 2
n = int(input("Enter the value of n(1 or 2): "))
if n == 1:
  m = int(input("Enter the range of Fibonacci series: "))
  print("Fibonacci series:")
  a, b = 0, 1
  for i in range(m):
      print(a, end=" ")
      a, b = b, a + b
  print()
elif n == 2:
  m = int(input("Enter the range of Tribonacci series: "))
  print("Tribonacci series:")
  t0, t1, t2 = 0, 1, 1

  if m >= 1:
    print(t0, end=" ")
  if m >= 2:
    print(t1, end=" ")
  if m >= 3:
    print(t2, end=" ")

  for _ in range(3, m):
    tn = t0 + t1 + t2
    print(tn, end=" ")
    t0, t1, t2 = t1, t2, tn
  print() # Add a newline for better formatting after the series
else:
  print("Invalid input")

Enter the value of n(1 or 2): 2
Enter the range of Tribonacci series: 5
Tribonacci series:
0 1 1 2 4

In [ ]:
#print prime factors of given range
n = int(input("Enter the range of n: "))
for i in range(2, n+1):

04/02/2026

In [ ]:
#WRITE A PROGRAM IN PYTHON TO DEMONSTRATE THE CONCEPT OF STRINGS
a = 'hi'
b = "hi"
c = '''hi'''
print(type(a))
print(type(b))
print(type(c))
d = input("Enter a string: ")
print(d)
print(type(d))
e = "HELLO"
print(e[3])
print(e[0])
print(e[-3])

<class 'str'>
<class 'str'>
<class 'str'>
Enter a string: hiii
hiii
<class 'str'>
L
H
L

In [ ]:
#write a string india and reverse it
str = "India"
print(str[-1:-6:-1])
print(str[::-1])
print(str[::])
print(str[:5:3])

aidnI
aidnI
India
Ii

09/02/2026

In [ ]:
#doc string , lists = cplloection of items/elements, list allows to store all the datatypes, index - based,

In [ ]:
l = [1, 1.23, "hello", False, 9+5j]
print(type(l[3]))
print(l)
l.append(99)
print(l)
l.pop()
print(l)
print(id(l))
print(type(l))
l[0] = 78
print(l)
print(l[0:5:2])

<class 'bool'>
[1, 1.23, 'hello', False, (9+5j)]
[1, 1.23, 'hello', False, (9+5j), 99]
[1, 1.23, 'hello', False, (9+5j)]
136424521300096
<class 'list'>
[78, 1.23, 'hello', False, (9+5j)]
[78, 'hello', (9+5j)]

In [ ]:
#Operators: it is a special symbol which is used to make operations on operands
#1. arthemetic operators: +,-,*,/(quotient),//(quotient but takes int value ex: 2.5 = 2), %(remainder), **
#relational(comparitive) operators: <,>,<=,>=, ==,!=
#assignment operators: =, +=, -=, *=, /=, %=
#logical operators: and, or, not
#bitwise operators: &, |, ^(XOR), ~(compliment), <<(left shift),>>(right shift), first operands will converted into binary, for compliment -(a+1), left shift: shift towards left, right shift: shift towards right
#unary minus operators
#membership operators: in, not in
#identity operators: is, is not, id

In [ ]:
a,b = 10,20
print(a and b)
print(a or b)
print(not a)
print(not b)

20
10
False
False

In [ ]:
a,b = 10, 20
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(~b)
print(a << 2)
print(b >> 2)

0
30
30
-11
-21
40
5

In [ ]:
#conditional statements: simple if, if-else, nested if, if-else-if
#if(condition):
#    #body
# when single condition exists

#if(condition):
#    #body
#else:
#    print()

In [ ]:
age = int(input("Enter your age: "))
if age >= 18:
  print("eligible to vote")

Enter your age: 17

In [ ]:
#write a program in python to check whether the given number is +ve or -ve
n = int(input("Enter a number: "))
if n > 0:
  print("Positive number")
else:
  print("Negative number")

Enter a number: 5
 Positive number

In [ ]:
#wirte a program in python to check whether the given number is even or odd
n = int(input("Enter a number: "))
if n % 2 == 0:
  print("Even number")
else:
  print("Odd number")

Enter a number: 6
Even number

In [ ]:
#wirte a program in python to check whether the given char is vowel or consonent
vowels = ['a','e','i','o','u','A','E','I','O','U']
ch = input("Enter a character: ")
if ch in vowels:
  print("vowel")
else:
  print("consonent")

Enter a character: O
vowel

In [ ]:
#wirte a program in python to check whether the given year is leap year or not
year = int(input("Enter a year: "))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print("leap year")
else:
  print("not a leap year")

Enter a year: 400
leap year

In [ ]:
#wirte a program in python to calculate the grade of a student with 5 subjects
sub1 = int(input("Enter marks of subject 1: "))
sub2 = int(input("Enter marks of subject 2: "))
sub3 = int(input("Enter marks of subject 3: "))
sub4 = int(input("Enter marks of subject 4: "))
sub5 = int(input("Enter marks of subject 5: "))
avg = (sub1 + sub2 + sub3 + sub4 + sub5) / 5
if avg >= 91 and avg <= 100:
  print("Grade A")
elif avg >= 71 and avg <= 90:
  print("Grade B")
elif avg >= 51 and avg <= 70:
  print("Grade C")
elif avg >= 35 and avg <= 50:
  print("Grade D")
else:
  print("Fail")

Enter marks of subject 1: 50
Enter marks of subject 2: 90
Enter marks of subject 3: 75
Enter marks of subject 4: 89
Enter marks of subject 5: 97
Grade B

In [ ]:
#wirte a program in python to calculate the electricity bill for first 100 units(3 rupees per unit), next 100 units(5 rupees per unit), above 200(7 rupees per unit)
units = int(input("Enter the number of units consumed: "))
if units <= 100:
  bill = units * 3
elif units >= 100 and units <= 200:
  bill = units* 3 + (units - 100) *5
else:
  bill = units * 3 + (units - 100) * 5 + (units - 200) * 7
print("total bill:", bill)

Enter the number of units consumed: 300
total bill: 2600

11/02/2026

In [ ]:
#write a program in python to vaildate a triangle by using it's three sides
a = int(input("Enter the length of side 1: "))
b = int(input("Enter the length of side 2: "))
c = int(input("Enter the length of side 3: "))
if a == b == c:
  print("Equilateral triangle")
elif a == b or b == c or c == a:
  print("Isosceles triangle")
else:
  print("Scalene triangle")

Enter the length of side 1: 5
Enter the length of side 2: 5
Enter the length of side 3: 5
Equilateral triangle

In [ ]:
#write a program in python of employee bonus calculation, if the employee service > 5 years 10% bonus, if salary < 50000 then again 5% bonus
experience = int(input("Enter the years of experience: "))
salary = int(input("Enter the salary: "))
if experience >= 5:
  bonus = salary + salary * 0.1
  if salary < 50000:
    bonus += salary * 0.05
  print("salary with bonus:", bonus)
else:
  print("No bonus")

Enter the years of experience: 6
Enter the salary: 45000
salary with bonus: 51750.0

In [ ]:
#write a program in python for ATM withdraw simulation
input = int(input("Select a option(1 = deposit,2 = check balance,3 = withdraw)"))
deposit = int(input("Enter the amount to deposit: "))
balance = int(input("Enter the balance: "))
withdraw = int(input("Enter the amount to withdraw: "))
atm = int(input("Enter the ATM pin: "))
atm_pin = atm
if withdraw <= balance:
  balance -= withdraw
  print("Remaining balance:", balance)
else:
  print("Insufficient balance")

In [ ]:
#Loops
#2 types of loops(pre test, post test)
#pre test has two types(for, while)
#post test has only on type(do-while)
#for loop: when having finite no.of iterations, index in for-loops is initiated by 'i'

In [ ]:
#write a program in python to print first n natural numbers
n = int(input("Enter the value of n: "))
for i in range(1, n+1):
  print(i)

Enter the value of n: 10
1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i<=10:
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#write a python program to print even no's upto 50
for i in range(2, 51, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
#writw a python program to calculate the sum of digits until the single digit
num = int(input("Enter a number: "))
while num >= 10:
    sum_digits = 0
    while num > 0:
        sum_digits += num % 10
        num //= 10
    num = sum_digits

print("Single digit sum:", num)

Enter a number: 9867
Single digit sum: 3

In [ ]:
#write a python program to check whether the given no is palindrom or not
num = int(input("Enter a number: "))
temp = num
rev = 0

while temp > 0:
    digit = temp % 10
    rev = rev * 10 + digit
    temp //= 10

if num == rev:
    print("Palindrome number")
else:
    print("Not a palindrome number")

Enter a number: 135
Not a palindrome number

In [ ]:
#write a python program to check whether the given no is armstrong or not
num = int(input("Enter a number: "))
temp = num
digits = len(str(num))
total = 0

while temp > 0:
    digit = temp % 10
    total += digit ** digits
    temp //= 10

if num == total:
    print("Armstrong number")
else:
    print("Not an Armstrong number")

Enter a number: 123
Not an Armstrong number

In [ ]:
#write a program in pyton to print right-angled tringled
n = 4
for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

In [ ]:
#write a program in python to print the square pattern
n = 4
for i in range(n):
    for j in range(n):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
#write a program in python to print the inversed right-angled triangle
n =4
for i in range(n, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

* * * *
* * *
* *
*

In [ ]:
#write a program in python to print the numbers in increasing order in right-angled triangle
n =4
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
#write a program in python to print floidstang
n = 5
num = 1

for i in range(1, n + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
#write a program in python to print pyramid
n = int(input("Enter number of rows: "))
for i in range(1, n + 1):
    for j in range(n - i):
        print(" ", end="")
    for k in range(2 * i - 1):
        print("*", end="")
    print()

Enter number of rows: 5
    *
   ***
  *****
 *******
*********

25/02/26

In [ ]:
#write a program to find the vowels in the given string using function
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0

    for ch in s:
        if ch in vowels:
            count += 1

    return count

# Main program
string = input("Enter a string: ")
result = count_vowels(string)

print("Number of vowels in the string:", result)

Enter a string: EDUCATION
Number of vowels in the string: 5

In [ ]:
#write a function to check where given number is palindrome or not
s = input("Enter a string: ")
def is_palindrome(s):
  return s == s[::-1]
print(is_palindrome(s))

Enter a string: madam
True

In [ ]:

#write a function in python to check the factiorial of a number using iterators
s = int(input("enter a number: "))
def factorial(s):
  for i in range(1,s):
    s *= i
  return s
factorial(s)

enter a number: 5

120

In [ ]:
n = int(input("Enter a number: "))
def factorial(n):
  res = 1
  for i in range(1, n+1):
    res *= i
  return res
factorial(n)

Enter a number: 5

120

In [ ]:
#write a function in python to print fibonacci series
n = int(input("Enter a number: "))
def fibonacci(n):
  a,b = 0,1
  for i in range(n):
    print(a, end = ' ')
    a,b = b, a+b
fibonacci(n)

Enter a number: 20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
# write a function to print the second largest number 11,22,33,44,55
n1 = [11,22,33,44,55]
def second_largest(n1):
  n1 = list(set(n1))
  n1.sort()
  return n1[-2]
second_largest(n1)

44